#
Include /etc/ssh/sshd_config.d/*.conf

port YOUR_PORT

PermitRootLogin no
PasswordAuthentication no
UsePAM no
PermitEmptyPasswords no

PubkeyAuthentication yes
AuthenticationMethods publickey

MaxSessions 3

ChallengeResponseAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no

X11Forwarding yes
PrintMotd no
PermitUserEnvironment no
AllowTcpForwarding no
PermitTunnel no
Banner none

AllowUsers YOUR_USER

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# Override default of no subsystems
Subsystem       sftp    /usr/lib/openssh/sftp-server
